#Ignore modules and libraries handled by package manager
node_modules
build
package-lock.json

#Ignore secrets
.secrets

#IDE Specific Exclusions
.vscode
soljson-*

#Ignore Builds and openzeppelin migrations
.openzeppelin/*

